<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tech.argentoaskia.bookzone.repository.mapper.account.AccountSecurityDAO">


    <insert id="insert">
        INSERT INTO user_account_security(UID, UQUESTION_1, UQUESTION_2, UQUESTION_3, UANSWER_1, UANSWER_2, UANSWER_3)
        VALUES (#{UID},
        <foreach collection="QAS" index="key" item="value" separator=",">
            #{key}, #{value}
        </foreach>
        )
    </insert>
    <update id="update">
        UPDATE user_account_security
        set UID = #{UID},
    </update>
    <update id="updateByUID">

    </update>
    <delete id="delete">

    </delete>
    <delete id="deleteByUID">

    </delete>
    <select id="selectByUID" resultType="tech.argentoaskia.bookzone.model.beans.original.AccountSecurity">

    </select>
    <select id="selectByOriginalType" resultType="tech.argentoaskia.bookzone.model.beans.original.AccountSecurity"
            parameterType="tech.argentoaskia.bookzone.model.beans.original.AccountSecurity"></select>
    <select id="selectAll" resultType="tech.argentoaskia.bookzone.model.beans.original.AccountSecurity"></select>
</mapper>